<div class="side-margin-block left"></div>

<div class="middle">
    <h2>Buchhaltungsservice</h2>

    <div class="flex">
        <img loading="lazy" src="assets/icons/services/core_accounting.png" alt="Allgemeine Buchhaltung Symbol">
    
        <div class="item">
            <h3><a href="services/core-accounting.html">Allgemeine Buchhaltung</a></h3>
            <ul>
                <li>Steuervorbereitung und Steuererklärung</li>
                <li>Buchhaltung</li>
                <li>Vorbereitung des Finanzberichts</li>
                <li>Verwaltung der Gehaltsabrechnung</li>
            </ul>
        </div>
    </div>
    
    
    <div class="flex relative">
        <img loading="lazy" src="assets/icons/services/financial_planing.png" alt="Finanzplanung Symbol">
        <div class="item">

                <h3><a href="services.html#financial">Finanzplanung</a></h3>
            
            <ul>
                <li>Steuerstrategie und Steuerberatung</li>
                <li>Budgetierung und Voraussagen</li>
                <li>Reinvestition und Wachstumsberatung</li>
                <li>Beratung bei Unternehmensgründungen</li>
            </ul>

            <div class="tooltip">
                <img src="assets/icons/info_icon.png" alt="Info-Symbol">
                <span class="tooltip-text">
                    <img src="assets/icons/handshake-simple.png" alt="Symbol für die Zusammenarbeit per Handschlag">
                    "Wird in Zusammenarbeit mit vertrauenswürdigen externen Fachleuten angeboten."</span>
            </div>
        </div>

    </div>


    <div class="flex">
        <img loading="lazy" src="assets/icons/services/client_support.png" alt="Kundenbetreuung Symbol">
        <div class="item">
            <h3><a href="services.html#client-support">Kundenbetreuung</a></h3>
            <ul>
                <li>Monatliche oder quartalsweise Check-Ins</li>
                <li>On-Demand-Beratung</li>
                <li>Organisation und Ablage von Dokumenten</li>
            </ul>
        </div>
    </div>


    <div class="flex">
        <img loading="lazy" src="assets/icons/services/specialized_services.png" alt="Spezialisierte Service Symbol">
        <div class="item">
            <h3><a href="services.html#specialized">Spezialisierte Service</a></h3>
            <ul>
                <li>Finanzielle Bereinigung</li>
                <li>Buchhaltung in der Krise</li>
                <li>Digitale Transformation des Finanzwesens</li>
            </ul>
        </div>
    </div>


    <!-- <div class="flex">
        <img loading="lazy" src="assets/icons/services/services_entrepreneurs.png" alt="Tailored Services for Entrepreneurs icon">
        <div class="item">
            <h3><a href="services.html#entrepreneurs">Tailored Services for Entrepreneurs</a></h3>
            <ul>
                <li>Freelancer and Gig Worker Support</li>
                <li>Startup Accounting Packages</li>
            </ul>
        </div>
    </div>


    <div class="flex">
        <img loading="lazy" src="assets/icons/services/educational_services.png" alt="Educational Services icon">
        <div class="item">
            <h3><a href="services.html#educational">Educational Services</a></h3>
            <ul>
                <li>Workshops and Training</li>
                <li>One-on-One Financial Coaching</li>
            </ul>
        </div>
    </div> -->

    <!-- <a href="services.html" class="cta">mehr erfahren</a> -->

</div>

<div class="side-margin-block right"></div>